@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-select {
  /* Your existing Tailwind CSS classes */
  padding-right: 1.5rem; /* Adjust the value as needed */
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23000000" class="bi bi-chevron-down" viewBox="0 0 16 16"%3E%3Cpath d="M3.646 5.646a.5.5 0 0 1 .708 0L8 9.293l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 0.5rem top 50%; /* Adjust position as needed */
  background-size: 1.4em; /* Adjust size as needed */
}
